.admin-options-contaner{
  /* border-right: 1px solid grey; */
}
.admin-options-list li{
  background: #e9ecef;
  border: 1px solid white;
  cursor: pointer;
}
.admin-options-list li a{
  text-decoration: none;
  color: #6c757d;
}
.admin-options-list li a:hover{
  text-decoration: none;
}
.list-group-item.active-item{
  background-color: #999;
}
.list-group-item.active-item a{
  color: white;
}
/*--------------- for categories list -----------*/
.categories-list{
  background: #fafafa;
}
.collapsible-list{
  display: none;
}
ul .style-none{
  list-style: none;
}
.icon::before{
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  content: "\f067";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  padding-right: 10px;
  color: #6c757d;
  cursor: pointer;
}
.plus::before{
  content: "\f067";
}
.minus::before{
  content: "\f068";
}
.categories-list li{
  padding: 15px;
  border-bottom: 1px solid #ddd;
  border-radius: 0;
  display: block;
}
